html,body{
    margin: 0%;
    padding: 0%;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing:auto;
    font-weight: 650;
     font-style: normal;
      font-size:12px;
      scroll-behavior: smooth;
      height: 100%;
      width: 100%;
      
      
}
/*header section */
.HEADER{
    display: flex;
    justify-content: space-between;
    background-color:whitesmoke;
    height:100px;
    
}
.bold{
 color:black;
   
}
.cont{
    width: 50%;
}
.title{
    margin-left: 20px;
    font-size: 20px;
    font-family: fantasy;
    letter-spacing: 3px;
    
}
.title h3{
    font-weight: 400;
}
.bold{
    font-weight: 400;
    color:#002D62;
}

.cont h1{
    
    width: 37ch;
    overflow: hidden;
    white-space: nowrap;
    animation: type 4s steps(37) infinite,blinl 0.6s step-end infinite alternate;

}
@keyframes type {
    from{
        width: 0;
        color:#8181b0
    }
   25% {
           color:#041E42;

    }
    50%{
        color:  #5e5eae;
    }
    100%{
        color:rgb(21, 21, 129);
    }
    
}
@keyframes blink {
    50%{
     border-color: transparent;
    }
    
}


.sec{
    gap: 40px;
}
.sec li{
    padding-top: 30px;
    font-size: 18px;
    list-style:none;
}
.sec a{
    text-decoration: none;
    font-weight: 700;
    color:#002D62;
   
}

.flex{
    display: flex;
}
.sec a:hover{
    border: 2px solid rgb(46, 43, 43);
    
    background-color:black;
    border-radius: 10px;
    color: whitesmoke;
   
    padding: 0px 0px 2px 2px;
    cursor:pointer;
   
    
}
    



.main{
    height: 90%;
    background-color: #FAF9F6;
        overflow: hidden;
    object-fit:cover;
    /* background-color: */
    
}
.main h2{
    margin-left: 16px;
    font-size: 28px;
    font-family:fantasy;
    letter-spacing:3px;
    color: rgb(39, 38, 38);
}
.main p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-weight: 500;
}



.image img{
    height: 600px;
    width: 100vh;
}
/*main section */
.tagline{
    justify-content: center;
    display: flex;
}


.REV{
    text-align: center;
   
    font-family: cursive;
    animation-name: color;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
    
}
@keyframes color{
    from{
        color: black;
    }
    to{
        color: red;
       
    }
}
.cont p{
    
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    line-height:1.3;
    padding-left: 12px;
   
    
}


.wall{
    gap: 20px;
    background-color: #8181b0;
    margin-left: 20px;
    height:350px;
    border: 1px solid rgb(94, 94, 160);
    width: 550px;
    text-align:justify;
    flex-wrap: wrap;
    box-shadow: 4px 4px 19px #041E42;
    border-radius: 12px;
    padding-left: 20px;
}
.wall i{
   
   color:white;
   border-radius:8px;
   font-size: 14px;
   margin-left: 10px;
}

.mix{
   
    height: 50px;
    width: 200px;
    border: 2px black solid;
    
    margin-left: 3px;
   
    background-color:#002D62;
    color: white;
   font-family: cursive;
   
   padding: 4px 4px  4px 4px;
    
}
.cont h1{
    padding-top: 30px;
    font-size: 29px;
    font-size: 40px;
    padding-left: 18px;
    margin-top: 50px;
    border-radius: 15px;
    color: black;
   
}
.cont h1{
    font-size: 20px;
    
    
}
.lop img{
    padding-left: 12px;
    height: 480px;
    box-shadow: 4px 4px 10px white;
}


/*about section */
#about{
    padding-top: 30px;
    height:80%;
    justify-content: space-between;
    background-image: url("https://media.istockphoto.com/id/165974199/vector/an-abstract-light-blue-and-white-wavy-background.jpg?s=2048x2048&w=is&k=20&c=AvFfpoM8GlkaJadq7bGH9h0lsMwoOiS7G_3lcb1pxdM=");

}
.us{
    width: 500px;
}
.us h1{
  color:whitesmoke;
  background-color:rgb(37, 36, 36);
   margin-left: 10px;
  border-radius: 14px;
  padding-left: 15px;
  padding-right: 15px;
  
  display:inline-block;
  
}
hr{
    color:aqua;
}
.read{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid rgb(94, 94, 174);
    background-color:rgb(94, 94, 174);
    font-size: 20px;
    cursor: pointer;
    
    color: white;
    font-weight: 500px;
}

.us p{
    padding-left: 20px;
    font-size: 19px;
    font-family: cursive;
}
.about-img img{
    margin-top: 20px;
    height: 500px;
    width: 650px;
    margin-right: 40px;
    border-radius: 14px;
    box-shadow: 4px 4px 10px rgb(56, 53, 53);
    border: none;
}


/* slider imGES */

.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    height: 500px;
    width: 630px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    box-shadow: #080820;

}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
   
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}
/* slider imagaes */



#whyus{
    padding-top: 30px;
     height: 60%;
    object-fit: contain;
    background-image: url("https://img.freepik.com/premium-photo/fluid-organic-white-color-abstract-background-unique-designs_851755-381525.jpg?semt=ais_hybrid");
}
#whyus h1{
    text-align: center;
   font-weight: bolder;
    color:#66FF00;
    font-size:xx-large;
}
#future{
    font-size: 20px;
    color: rgb(21, 20, 20);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cards{
    padding-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card1{
    height: 260px;
    width: 250px;
    border: 1px white solid;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(67, 66, 66)

    

}
.card1 p{
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
#one img{
    object-fit: cover;
    height: 150px;
    width: 250px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
#two img{
    object-fit: cover;
    height: 150px;
    width: 250px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#three img{
    object-fit: cover;
    height: 150px;
    width: 250px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
#four img{
    object-fit: cover;
    height: 150px;
    width: 250px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.container{
    max-width: 80%;
    margin-inline: auto;
}

/* mentors section*/

#mentors{
    height: 140%;
    background-color:whitesmoke;
    
    
}
#hands{
    text-align: center;
    color: #4b4bae;
    font-weight: 900;
    font-size: 40px;
}
.phot img{
    height: 300px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 4px 4px solid whitesmoke;
}
.ab{
    margin-left: 20px;
}
.ab p{
    border :2px solid #E1EBEE;
     border-radius: 12px;
     box-shadow: 4px 4px 10px grey;
    font-size: 17px;
    font-family: cursive;
     color:rgb(32, 32, 32);
     margin-bottom: 30px;
}
.phot img{
    box-shadow: 4px 4px 10px grey;
}
.ab h2{
    font-size: 22px;
    color: balck;
}
.ab h1{
   color:  rgb(51, 51, 51);
}
.ab a{
    border: 2px solid rgb(79, 79, 180);

    padding: 2px 2px;
    background-color:rgb(79, 79, 180);
    text-decoration: none;
    border-radius: 8px;
    font-size: 17px;
    color:white;
}
.ab p:hover{
color:rgb(48, 48, 48);
}
.Anand img{
    height: 300px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px grey;
}
.soni{
    margin-left: 20px;
}
.soni h2{
    font-size: 22px;
    color:rgb(51, 51, 51);
}
.soni h1{
    color:black;
}
.soni a{
    border: 2px solid rgb(79, 79, 180);

    padding: 2px 2px;
    background-color:rgb(79, 79, 180);
    text-decoration: none;
    border-radius: 8px;
    font-size: 17px;
    color:white;
}
.soni p{
    font-size: 17px;
    font-family: cursive;
    text-align: justify;
    border :2px solid #E1EBEE;
    border-radius: 12px;
    color:rgb(32, 32, 32);
    box-shadow: 4px 4px 10px grey;
    margin-bottom: 30px;
}
.opp li{
    font-size: 17px;
}

.ank img{
    height: 300px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px grey;
}
.patel h2{
   font-size: 22px;
   color:black;
}
.patel{
    margin-left: 20px;
}
.patel h1{
    color:rgb(54, 54, 54);
}
.patel a{
    border: 2px solid rgb(79, 79, 180);

    padding: 2px 2px;
    background-color:rgb(79, 79, 180);
    text-decoration: none;
    border-radius: 8px;
    font-size: 17px;
    color:white;
}
.patel p{
    font-size: 17px;
    font-family: cursive;
    text-align: justify;
     border :2px solid #E1EBEE;
    border-radius: 12px;
    box-shadow: 4px 4px 10px black;
    color:rgb(32, 32, 32);
    margin-bottom: 30px;
}

.hall-of-fame{
    background-image:url("iamges/pik.jpg");
    background-size: cover;
    margin: 0;

    height: auto;
 }

 .hall-of-fame hr{
       width: 300px;
       margin-left: 0;


 }

 /* .hall-of-fame-attribute{
    display: flex;
    text-align: center;
} */

.hall-of-fame-attribute-1{
    padding: 0 80px;
}

.hall-of-fame-attribute-1 h1{
    text-decoration: underline solid black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: black;
}

.hall-of-fame-attribute-1 h3{
    font-weight: 500;
}

.hall-of-fame-attribute-1 #skill{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


.events{
    height: 1000px;
    background-image: url("iamges/WhatsApp Image 2024-04-24 at 19.34.00_4d52b293.jpg");
    background-size: cover;
    
 }

.events h1{
    margin-bottom: 60px;
}
.events h4{
    cursor: pointer;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 10px;
    color: #0c0c12;
}

#goome{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}

.events-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.events-item h2{
    cursor: pointer;
    text-align: center;
    font-size: 23px;
}

.events-item h2:hover{
    text-decoration: underline solid #5e5eae;
}

.events-item h2 span{
    font-weight: 400;
}

.card{
    margin: 0 0 50px 0;
    width: 45%;
    height: 47%;
}
.card-img{
    cursor: pointer;
     box-shadow: 4px 4px 15px black;
    height: 300px;
    width: 300px;
}
.card-img:hover{
    box-shadow: 4px 4px 25px black;
}

.join{
    background: #ececf5;
    height: 850px;
}

 #join{
     padding-left: 80px;
 }

 #join h1{
    margin: 40px 0 5px 0 ;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-size: 25px;
    color:#8181b0 ;
}

.liststyle{
    list-style-type: square;
}


.lis-item{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    
}  

#CTA{
    background-color:#110eb9;
     color: white;
    font-weight: 700;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -10px;
}
#CTA:hover{
    background-color:#11112d;
    /* border: 2px solid #5e5eae; */
    box-shadow: 2px 2px 10px #080820;
    font-weight: 900;

}
.faq{
    height: 40%;
}
.faq p{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactus{
    background-color:#5e5eae;
    display: flex;
    justify-content: center;
    height: 60%;
    
    
}
.contactus h1{
    padding-right: 10px;
    padding-bottom: 20px;
}
.faram{
    background-color: #041E42;
    color: white;
    margin-top: 20px;
    border-radius: 14px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 600px;
    border: 2px solid black;
    padding-left: 20px;
}
.faram button{
    margin-top: 70px;
}
.faram input{
    margin-bottom: 30px;
    height: 15px;
 
    border-radius: 8px;
    border: 2px solid grey;
}
.faram button{
    position: relative;
    top: 68px;

    border-radius: 8px;
    background-color: #0261e5;
    color: white;
}
#mssg{
    height: 150px;
    width: 350px;
}
.media a{
    text-decoration: none;
    color: white;
}